# Ignore Python compiled files
__pycache__/
*.pyc
*.pyo
*.log

# Ignore virtual environment
travel/

# Ignore environment variables
.env

# Ignore database migrations cache
db.sqlite3  # This is for SQLite; you're using Postgres, so it's fine to ignore

# Ignore PostgreSQL dumps (if you export data)
*.sql
*.dump

# Ignore Django cache
*.log
.env
projet2cp/Lib/
projet2cp/Scripts/
projet2cp/include/
projet2cp/bin/
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
..backend/travel_agency/env/
db.sqlite3
.projet2cp/
.venv/*
.projet2cp/*
.travel_agency/*
.travel_agency/